*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.max-width-wrapper {
  max-width: 47rem;
  margin-inline: auto;
  padding-inline: 24px;
}

header {
  background-color: hsl(0deg, 0%, 100%);
  border-block-end: 8px solid hsl(0deg, 0%, 60%);
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  
  &:not(:last-child) {
    margin-block-end: 1rem;
  }
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  max-width: 416px;
  padding-block: 96px 64px;

  & .title {
    margin-block-end: 3rem;
  }
}
